:root {
 --theColor: black;
}
html,
body {

    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.bm {

    width: 400px;
    height: 400px;
    position: absolute;
    float: left;
}

.popup{
    position: relative;
    display: block;
    background: black;
    height: 100px;
    width: 30%;
    border:5px solid black;
    margin: 0 auto;
    top: -270px;
    z-index: 9;
    border-radius: 15px;
}
.item{
    width:100px;
    height:100px;
    z-index: 10;
}
.brush path{
    stroke:white;
    fill:white;
}

.nav {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    padding: 10px;
    position:fixed;
    display: block;
    bottom:0px;
    background-color: #ffffff;
    border-top: 10px solid var(--theColor);
}
.tools{
    width: 300px;
    height: 100%;
    margin:0 auto;
}
.brushes{
    width: 150px;
    height: 150px;
    float:left;
}

.setting{
    width: 150px;
    height: 150px;
    float:right;
}
.undo{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 30px;
}
.screenshot{
    width: 150px;
    height: 150px;
    float: right;
    margin-right: 30px;
}

.button {
    background-color: var(--theColor);
    border-color: var(--theColor);
}

#follower {
    width: 100%;
    height: 100%;
}

.ui {
    position: fixed;
    top: 0;
    width:100%;
    margin-top:15px;
}
.column{
      text-align: center;
}